.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  z-index: 100;
}

.left-head {
  
 
  display: flex;
  flex-direction: row;
  align-items: center;
 
  
}
.menu {
  margin-left: 24px;
  margin-right: 24px;
}

.center-head{
 
  flex: 1;
  margin-left: 60px;
  
  max-width:430px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-bar {
  flex: 1;
  font-size: 18px;
  height: 36px;
  padding-left: 13px;
  border-radius: 2px;
  border-width: 1px;
 border-right: 0;
 width: 0;

}
.search-bar::placeholder {
  font-family: Roboto,Arial;
  font-size: 16px;
}
.search {
  height: 40px;
  width: 60px;
  margin-left: -1px;
  margin-right: 10px;
}
.search-img {
  margin-top: 4px;
  
  
}
.voice-1 {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border-width: 0;
  
  
}
.voice-img {
  margin-top: 4px;
}
.right-head{
  
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 30px;
  margin-left: 30px;
  margin-right: 30px;
  flex-shrink: 0;
}
.creator {
  width: 30px;
}