.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 72px;
  padding-top: 20px;
  z-index: 200;
  
  
}

.sb-img {
  
  height: 25px;
  margin-bottom: 0;
  
}
.text-logo {
  font-family: Roboto,Arial;
  font-size: 10.5px;
  margin-top: 5px;
  
  
}

.sidebar-elements {
  display: flex;
  flex-direction: column;
  height: 85px;
  align-items: center;
  justify-content: center;
  
}

